@import "./mixins";
@import "./colors.scss";
.form {
  padding: 10px 20px;
  @include display(flex, center, center, column);
  position: relative;
  width: 70%;
  margin: 2rem auto 1px auto;

  &__label {
    margin: 10px auto;
  }
  &__control {
    padding: 10px 20px;
    width: 100%;
    // background-color: #ff0000;
  }
}

.form__output {
  &__value {
    padding: 10px 20px;
    margin-top: 1rem;
  }
  &__error {
    padding: 10px 20px;
    color: $danger;
    margin-top: 10px;
  }
}

.result {
  margin-top: 20px;
}
